<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}RESTFUL Blog!{% endblock %}</title>
    {% block stylesheets %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<!-- Navigation -->
{{ include(':layouts:navigation.html.twig') }}

<!-- Page Content -->
<div class="container">
    <div class="row" style="min-height: 500px">
        <!-- Notification -->
        {{ include('layouts/notification.html.twig') }}
        <div class="col-md-12">
            <h2>
                {% block header %}{% endblock %}
            </h2>
            {% block body %}{% endblock %}
        </div>
    </div>
    <!-- /.row -->

    <!-- Footer -->
    {{ include(':layouts:footer.html.twig') }}
</div>
<!-- /.container -->
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
